<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Panel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<header class="bg-dark text-white p-1 d-flex justify-content-between">
    <div class="ms-3 m-auto">
        <strong>
            <span th:text="${user?.username}"></span> <!-- Используем безопасный оператор ?. -->
        </strong>
        with roles:
        <span th:text="${user?.getRolesAsString()}"></span> <!-- Используем безопасный оператор ?. -->
    </div>
    <form th:action="@{/logout}" method="post">
        <button class="btn btn-link text-secondary text-decoration-none logout-button" type="submit">Sign Out</button>
    </form>
</header>
<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-2 col-10 bg-light p-0">
            <ul class="nav flex-column p-2">
                <li class="nav-item">
                    <a href="#" class="nav-link bg-primary text-white rounded-4 w-100 roleLink" data-role="Admin">Admin</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link rounded-4 w-100 roleLink" data-role="User">User</a>
                </li>
            </ul>
        </nav>
        <main class="col-sm-10 col-12 bg-body-secondary">
            <!-- Панель админа (по умолчанию видима) -->
            <div class="p-3 rolePanel" id="adminPanel" data-role="Admin">
                <h2>Admin panel</h2>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" href="#userTable">User table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#newUser">New user</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active shadow" id="userTable" style="background-color: #f8f9fa; border: 2px solid #dee2e6; border-radius: .50rem;">
                        <h3 class="ps-3 p-2" style="background-color: #E9ECEF;">All users</h3>
                        <div class="p-3">
                            <table class="table table-borderless table-hover">
                                <thead>
                                <tr class="table-light text-center border-top border-bottom">
                                    <th scope="col">id</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Roles</th>
                                    <th scope="col">Edit</th>
                                    <th scope="col">Delete</th>
                                </tr>
                                </thead>
                                <tbody class="text-center table-light">
                                <tr th:each="user : ${users}">
                                    <td th:text="${user.id}"></td>
                                    <td th:text="${user.username}"></td>
                                    <td th:text="${user.email}"></td>
                                    <td th:text="${user.age}"></td>
                                    <td th:text="${user.getRolesAsString()}"></td>
                                    <td>
                                        <a th:href="@{/admin/edit/{id}(id=${user.id})}" class="btn btn-sm btn-outline-primary">Edit</a>
                                    </td>
                                    <td>
                                        <a th:href="@{/admin/delete/{id}(id=${user.id})}" class="btn btn-outline-danger btn-sm">Delete</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade show shadow" id="newUser" style="background-color: #f8f9fa; border: 2px solid #dee2e6; border-radius: .50rem;">
                        <h3 class="ps-3 p-2" style="background-color: #E9ECEF;">Add new user</h3>
                        <div class="row justify-content-center">
                            <div class="col-md-5">
                                <form class="p-3 add-user-form" th:method="POST" th:action="@{/admin/new}" th:object="${user}">
                                    <div class="mb-3">
                                        <label for="username" class="form-label fw-bold d-block text-center">Username</label>
                                        <input type="text" class="form-control" id="username" th:field="*{username}" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="password" class="form-label fw-bold d-block text-center">Password</label>
                                        <input type="password" class="form-control" id="password" th:field="*{password}" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="email" class="form-label fw-bold d-block text-center">Email</label>
                                        <input type="email" class="form-control" id="email" th:field="*{email}" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="age" class="form-label fw-bold d-block text-center">Age</label>
                                        <input type="number" class="form-control" id="age" th:field="*{age}" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="roles" class="form-label fw-bold d-block text-center">Roles</label>
                                        <select class="form-select" id="roles" name="roles" multiple required>
                                            <option th:each="role : ${allRoles}" th:value="${role.id}" th:text="${role.name}"></option>
                                        </select>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <button type="submit" class="btn btn-success h-75 w-50">Add new user</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Панель пользователя (по умолчанию скрыта) -->
            <div class="p-3 rolePanel" id="userPanel" data-role="User" style="display: none;">
                <h2>User information-page</h2>
                <div class="tab-pane fade show active shadow" id="AuthInfo" style="background-color: #f8f9fa; border: 2px solid #dee2e6; border-radius: .50rem;">
                    <h3 class="ps-3 p-2" style="background-color: #E9ECEF;">About user</h3>
                    <div class="p-3">
                        <table class="table table-borderless table-hover">
                            <thead>
                            <tr class="table-light text-center border-top border-bottom">
                                <th scope="col">ID</th>
                                <th scope="col">Username</th>
                                <th scope="col">Email</th>
                                <th scope="col">Age</th>
                                <th scope="col">Role</th>
                            </tr>
                            </thead>
                            <tbody class="text-center table-light">
                            <tr>
                                <td th:text="${user.id}"></td>
                                <td th:text="${user.username}"></td>
                                <td th:text="${user.email}"></td>
                                <td th:text="${user.age}"></td>
                                <td th:text="${user.getRolesAsString()}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        // Обработка нажатия на кнопки "Admin" и "User"
        $(".roleLink").on("click", function () {
            const role = $(this).data("role"); // Получаем роль из атрибута data-role
            $(".rolePanel").hide(); // Скрываем все панели
            $(`#${role}Panel`).show(); // Показываем панель для выбранной роли
        });

        // По умолчанию показываем панель "Admin"
        $("#adminPanel").show();
        $("#userPanel").hide();
    });
</script>
</body>
</html>